Для изменения пароля перейдите по ссылке: <p><a href="{{ route('password.reset', token) }}">Link</a></p>
Для изменения пароля перейдите по ссылке*: <p><a href="{{ url('password/reset/') }}/{{ token }}"> Ссылка! </a></p>